:host {
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mui-job {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 1em;
}

.mui-job-name {
  font-size: 2em;
}

.mui-cause {

}

mat-progress-bar {
  position: absolute;
}


.mui-SUCCESS {
  background-color: #8cc04f;
}

.mui-UNSTABLE {
  background-color: #f6b44b;
}

.mui-FAILURE {
  background-color: #d54c53;
}

.mui-ABORTED {
  background-color: #949393;
}

.mui-null {
  background-color: #4a90e2;
}

.mui-progress {
  height: 5px;
  background-color: #fff;
}

i {
  margin-right: 0.5em;
}