<mat-progress-bar *ngIf="job?.build?.building " mode="determinate" [value]="progress"></mat-progress-bar>
<div class="mui-job" [class]="'mui-' + job?.build?.result" *ngIf="job?.build">
  <div class="mui-job-name">
    <a mat-stroked-button target="_blank" [href]="job?.build?.url">
      {{job?.build?.displayName}} <i class="fa fa-external-link"></i>
    </a>
  </div>
  <div>
    <ng-container *ngFor="let action of job?.build?.actions">
      <ng-container [ngSwitch]="action._class">
        <div *ngSwitchCase="'hudson.model.CauseAction'">
          <ng-container *ngFor="let cause of action.causes">
            <ng-container [ngSwitch]="cause._class">
              <div *ngSwitchCase="'hudson.model.Cause$UserIdCause'">
                <i class="fa fa-user"></i>{{cause.userName}}
              </div>
              <div *ngSwitchDefault>
                <i class="fa fa-code-fork"></i>{{cause.shortDescription}}
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div>
    <i class="fa fa-spinner fa-spin" *ngIf="job?.build?.building"></i>
    <i class="fa fa-clock-o" *ngIf="!job?.build?.building"></i>
    {{duration}}
  </div>
  <div>
    <i class="fa fa-calendar"></i>{{timestamp}}
  </div>
</div>